a:link{
  color: blue;
}
a:hover{
  color: pink;
}
a:visited{
  color: red;
}
a:focus{
  border: 2px gray;
}
li:first-child{
  font-weight: bolder;
}
li:last-child{
  color: green;
}
li:nth-child(odd){
  background-color: light-blue;
}
li:nth-child(even){
  background-color: lilac;
}
input[required]{
  border: 2px purple;
}
