div{
   padding: 50px;
   margin: 10px;
}

.borda{
   border: 10px dashed black;
}

#bloco1{
   background-color: pink;
}

#bloco2{
   background-image: url("dancin.webp");
   background-repeat: repeat;
}

#bloco3{
   background-image: 
