div{padding: 50px;
   margin: 10px;}

.borda{border: 10px dashed black;}

#bloco1{background-color: pink;}

#bloco2{background-image-repeat: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fpt%2Fsearch%2Fsnoopy-charlie-brown&psig=AOvVaw3gStbfrlt2t6hCFlxcsBy4&ust=1759318405892000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCMCAk_uxgJADFQAAAAAdAAAAABAE")}

#bloco3
